[submodule "configs/awesome-copycats"]
	path = configs/awesome-copycats
	url = https://github.com/lcpz/awesome-copycats
[submodule "configs/rofi"]
	path = configs/rofi
	url = https://github.com/adi1090x/rofi.git
