[submodule "configs/awesome-copycats"]
	path = configs/awesome-copycats
	url = https://github.com/lcpz/awesome-copycats
[submodule "configs/betterlockscreen"]
	path = configs/betterlockscreen
	url = https://github.com/betterlockscreen/betterlockscreen.git
[submodule "configs/i3lock-color"]
	path = configs/i3lock-color
	url = https://github.com/Raymo111/i3lock-color.git
